<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sentimental Analysis Of Textual Data</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                
                {% if user.is_authenticated %}
                <li><a href="{% url 'prediction' %}">Prediction</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
                
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
